/* Individual cards and slots */
 
#text, #description, #target{
  position:absolute;
  left:40%;

  width: 400px;
  height: 200px;
  
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  background: #fff;

  font-size: 400%;
  text-align:center;
}

#text{
    top:20px;   
}

#target{
    top:240px;
    border-style: dashed;
}

#target.hover{
    background: #aaa;
}

#description{
    bottom:-150px;

    background: #fff;
    color: #000;

    /*
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    */
} 