#content{
    text-align:center;
}

#term{
    
}

#term_text{
    font-size:7em;
}

#definition{

}

#truefalse_text{
    font-size: 5em;
}

.option{
    margin:0px;

    font-size:6em;
}

#optionTrue{

}
#optionFalse{

}

.correct{
    background:#80e6b2 
}

.incorrect{
    background:#ffb9b9
}

.hidden{
    display:none;
}