#content{
    text-align:center;
}

#term{
    
}

#term_text{
    font-size:7em;
}

#definition{

}

.correct{
    background:#80e6b2 !important
}

.incorrect{
    background:#ffb9b9 !important
}

.hidden{
    display:none;
}