#content{
    text-align:center;
}
#term{
    margin-bottom:20px;
}
#term_text{
    font-size:7em;
}
#definition{

}

.letter{
    width:1em;

    margin:20px;

    color:white;
    background-color:#D0D0D0;

    font-size:7em;
    text-align:center;
    font-family:monospace;

    margin:20px;
    border: 1px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.letter:focus{
    background-color:#0099ff;
}

.given{
    color:black;
    background:black;
}

.given_reveal{
    background:black;
}

.correct{
    background:#80e6b2 
}

.incorrect{
    background:#ffb9b9
}

#submitBtn{
    
    margin:20px;

    color:white;
    background:#0099ff;

    font-size:7em;
    font-family:monospace;
    
    border: 1px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}