body {
  background: #ccc;
}
.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    top:30px;
    left:30%;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;

  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: white;
    color: black;
    border-style:solid;
    border-color:black;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    border-style:solid;
    border-color:black;
    cursor: pointer;
}

#grading{
  position:absolute;
  top:250px;
  width:100%;
}

#correct, #incorrect{
  position:absolute;
  left:30%;

  width: 180px;
  height: 100px;

  text-align:center;
  font-size:xx-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  border: 0px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;  
}

#correct{
  background:#80e6b2;
  color:#339933;

  margin-left:215px;
}

#correct:active{
  color:#80e6b2;
  background:#339933;
}

#incorrect{
  background:#ffb9b9;
  color:#ff0000;
}

#incorrect:active{
  color:#ffb9b9;
  background:#ff0000;
}

.hidden{
  display:none;
}

#backBtn{
    font-size:2em;
}