html, body {
	height:100%;
	width:100%;
	
	margin:0;
	padding:0;
	overflow:hidden;
	
	background-image:url("../media/box3.jpg");
}

#div_text{
	position: absolute;
	left:0px;
	top:0px;
	
	width:10em;
	height:10em;
	
	font-size:1em;
	word-wrap:break-word;
	
	border:1px solid #000000;
	overflow:hidden;
	
	background:white;
	
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 /*/
	-webkit-transform: scale(1,1); /* Safari and Chrome /*/
}

#camp{
	position:relative;
	height:33%;
	width:100%;
}


video{
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	
	min-width:100%;
	min-height:100%;
} 
  
#infobar{
	width:100%;
	height:1.5em;
	
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
	
	background:#FFFFCC;
	
	font-size:1em;
	text-align:center;
}

#show_infobar, #hide_infobar{
	position:absolute;
	right:0px;
	z-index:2;
}