html, body {
	height:100%;
	width:100%;
	
	margin:0;
	padding:0;
	overflow:hidden;
	
}

div{
	width:10em;
	height:10em;
	
	font-size:1em;
	word-wrap:break-word;
	
	border:1px solid #000000;
	overflow:hidden;
	
	transform: scale(1,1);
	-ms-transform: scale(1,1); /* IE 9 */
	-webkit-transform: scale(1,1); /* Safari and Chrome */
}

img{
	position:relative;
	height:33%;
	width:100%;
}