#flashcards {
    width:100%;
}

tr, td {
    border: 1px solid black;
}

#headings {
    background-color: white;
}

.hidden {
   visibility:hidden;
}

tr:nth-child(odd) {
    background-color: #EDF8FE;
}

}