#flashcards {
    width:100%;
}

tr, td {
    border: 1px solid black;
}

#headings {
    background-color: white;
}

.hidden {
   visibility:hidden;
}

tr:nth-child(odd) {
    background-color: #EDF8FE;
}

#dialog_header h1{
    margin:0;
}

#dialog_footer {
    text-align:center;
}

/*
.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}
*/