/* Individual cards and slots */
 #container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

#uno{
  left:30%;
}

.cards{
  position:absolute;
  height:100%;

  left:150%;

  font-size: 400%;
  text-align:center;
  z-index:1;

  pointer-events:none;
}

.text, .description{
  width:400px;

  background: #fff;
  color: #000;

  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  pointer-events:auto;
}

.text{
  position:relative;
  top:30px;   

    height:200px;
}

.description{
  position:absolute;
  bottom:-150px;

  height:300px;

    /*
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    */
}

.description p{

    position:relative;
    top:34%;
} 


#target{
  position:absolute;
  top:300px;
  left:30%;

  height:300px;
  width: 400px;

  background: #fff;
  color: #000;

  font-size: 400%;
  text-align:center;

  border: 2px dashed #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#grading{
  position:absolute;
  top:620px;
  width:100%;
}

#correct, #incorrect{
  position:absolute;
  
  width: 180px;
  height: 100px;

  text-align:center;
  font-size:xx-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  border: 0px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;  
}

#correct{
  right:10px;
  
  background:#80e6b2;
  color:#339933;
}

#incorrect{
  left:10px;

  background:#ffb9b9;
  color:#ff0000;
}

#backBtn{
    font-size:2em;
}