html, body, {
	height:100%;
	width:100%;
	
	margin:0;
	padding:0;
	overflow:hidden;
}

#text, #description{
    position:absolute;
    top:50%;
    
    width:100%;
    text-align:center;
	
	font-size:10em;
}

.background{
    z-index:0;
}

.foreground{
    z-index:1;
}

.hidden {
    display:none;
}

.blurry{
    color:transparent;
    text-shadow:0 0 8px rgba(0,0,0,0.5)
}